/********* FOOTER ***********/
@footer-color: #ffffff;	
@footer-background-color: #1e7495;


// links in footer
@footer-link-color: #fff;
@footer-link-color-hover: @footer-link-color;
//social icon inner or if no outer just link
@footer-social-icon-inner-color: @link-color;
@footer-social-icon-inner-color-hover: @link-color-hover;

//outer color ie circle or square
@footer-social-icon-outer-color: #dddddd;


.footer {
	border-top: 3px solid #fff;
	padding: 58px 0;
	text-align: center;
	background-color: @footer-background-color;
	letter-spacing: 0.05em;
	color: @footer-color;	
	h3 {		
		.font-size(2.3);
		color: white;
		margin-bottom: 24px;		
	}
	.footer-logo {		
		max-width: 312px;
		width: 100%;
		margin: 0 auto 36px;
		text-align: center;
	}
	.branding {	}
	
	.a-border(@footer-link-color, rgba(255,255,255,0), @footer-link-color-hover,rgba(255,255,255,1));
	.social-icons {
		.a(@footer-social-icon-inner-color,none,@footer-social-icon-inner-color-hover,none);
		.fa-stack.fa-lg {
			font-size: 1.5em;
			
		}
		i.icon-outer {			
			color: @footer-social-icon-outer-color;
		}
	}
	
	.footer-text-wrapper {
		
		div {
			font-size: 1.2em;
		}
		margin-bottom: 36px;
	}
	
	.social-icons {
		margin-bottom: 36px;
	}
	
	.footer-copyright {
		font-size: 0.8em;
	}
	
	.footer-navigation {
		padding: 0 0 32px;
		.script-text {
			
			display: block;
			color: #67c5f1;
			font-size: @script-font-size;
			padding: 32px 0;
			.transition(0.5s);
			border: 1px solid transparent;
			margin-bottom: 12px;
			&:hover {
				.transition(0.75s);
				border: 1px solid #fff;
				text-decoration: none !important;
			}
		}
	}
	.footer-terms {
		font-size: 0.8em;
	}
	

	@media screen and (min-width: @screen-xs-max) {
		.footer-logo {		
			max-width: 386px;
			width: 100%;		
		}	
	}
	@media screen and (min-width: @screen-sm-max){
		.footer-navigation {
			.script-text {
				font-size: @script-font-size-sm;
			}
		}
		
	}
	@media screen and (min-width: @screen-md-max){
		.footer-navigation {
			.script-text {
				font-size: 3.6em;
			}
		}		
	}
	
	@media screen and (min-width: @screen-lg-max){
		.footer-navigation {
			padding: 0;
		}
		
		.footer-content-wrapper {
			width: 80%;
			// since using pull and push the left becomes the right
			&.left {
				float: right;
				&:after {
					content: " ";
					clear: both;
					display: table;
					margin: 0;
				}
			}
		}		
		
	}
}
